.createRoomContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: #fff;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    margin-bottom: 20px;
  }
  .createRoomFormContainer {
    border-radius: 20px;
    border: 1px solid rgba(164, 164, 164, 0.29);
    background: rgba(40, 42, 58, 0.5);
    display: flex;
    width: 50%;
    flex-direction: column;

    label{
        color: #FFF;
        font-family: Istok Web;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
    .roomFormFields {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    input {
      border-radius: 10px;
      border: 1.5px solid rgba(164, 164, 164, 0.29);
      background: #282a3a;
    }
  }
  button {
    border-radius: 10px;
    border: 1.5px solid rgba(164, 164, 164, 0.29);
    background: #d9d9d9;
    color: #000;
    &:hover {
      background: #4355f5;
    }
  }
}
