$mobile-breakpoint: 480px;
$layout-breakpoint: 780px;

.cardContainer {
  display: grid;
  place-content: center;
  margin-top: 6rem;
  gap: 20px;
  min-height: 320px;
  .card {
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    background: #282a3a !important;
    color: #fff !important;
    justify-content: center;
    padding: 4rem 7rem 4rem 7rem;
    text-align: center;
    .deskButton {
      border-radius: 8px;
      text-transform: none;
      background: #50577a;
      padding: 12px;
      width: 12rem;
      display: flex;
      align-items: center;
      p {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-weight: 600;
      }
      &:hover {
        border: 3px solid #fff;
        background: #737db2;
      }
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 600;
    }
    .startNewVoting {
      &:hover {
        border-radius: 10px;
        border: 3px solid #50577a;
        background: #1c1f2c;
      }
    }
  }
  .active {
    border-radius: 36px;
    border: 3px solid #98a8fa;
    background: rgba(217, 217, 217, 0);
    // filter: blur(2px);
  }
  .selectedCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    .cardCount {
      display: flex;
      gap: 20px;
      .cardNumber {
        background: #fff;
        height: 7rem;
        cursor: pointer;
        border-radius: 10px;
        border: 3px solid #98a8fa;
        p {
          color: #282a3a;
          text-align: center;
          font-family: Inter;
          font-size: 25px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }
  }
}
