.roomEntryContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: #fff;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    margin-bottom: 20px;
  }
  .roomEntryFormContainer {
    border-radius: 20px;
    border: 1px solid rgba(164, 164, 164, 0.29);
    background: rgba(40, 42, 58, 0.5);
    display: flex;
    width: 50%;
    flex-direction: column;

    label {
      color: #fff;
      font-family: Istok Web;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .roomFormFields {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    input {
      border-radius: 10px;
      border: 1.5px solid rgba(164, 164, 164, 0.29);
      background: #282a3a;
    }
  }
  .roomEntryButton {
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid rgba(164, 164, 164, 0.29);
    background: #d9d9d9;
    color: #000;
    text-align: center;
    font-family: Istok Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
      background: #4355f5;
      color: #ffff;
    }
  }
  .Join {
    &:hover {
      background: linear-gradient(90deg, #177637 0%, #0ba360 100%);
    }
  }
  input {
    color: #ffff;
    &::placeholder {
      color: #858585;
      font-family: Istok Web;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
